@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }

/* @layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 h-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-blue-500 bg-opacity-30;
  }
} */

@layer utilities {
  ::-webkit-scrollbar {
    @apply hidden;
  }
}

.slide-in {
  @apply opacity-0 duration-[2s] ease-in-out blur-md transform -translate-x-full;
}
.show-up{
  @apply opacity-0 duration-[2s] ease-in-out blur-md ;
}
.show {
  @apply opacity-100 blur-none translate-x-0;
}
.fade-in{
  @apply opacity-100 blur-none duration-[1s] 
}
.fade-out {
  @apply opacity-0 blur-md duration-[2s];
}


@keyframes breathe {
  0% {
    opacity: 0.4;
    filter: hue-rotate(30deg);
    transform: scale(0.4);
    
  }
  45% {
    opacity: 1;
    filter: hue-rotate(0deg);
    transform: scale(1);
  
  }
  100% {
    opacity: 0.4;
    filter: hue-rotate(30deg);
    transform: scale(0.4);
  
  }
}

.breathe-animation{
  animation: breathe 10s ease-in-out 7 forwards;
}