@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(54, 54, 152);
  --background-start-rgb: rgb(19, 117, 198);
  --background-end-rgb: rgb(31, 31, 91);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(27, 27, 107);
    --background-start-rgb: rgb(15, 15, 74);
    --background-end-rgb: blue;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
